/* Stylesheet */

body {
    margin: 30px;
    padding: 0;
}

body {
    font-family: "Palatino";
    background-color: #ebe1ff;
}

h1 {
    color: #382465;
}

h2 {
    color: #146532;
}

p {
    color: #0f0f0f;
}

nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}